<div class="outer-body">
    <div class="outer-form">
        <div class="form">
            <div class="form-title">
                <span class="arrow"><i class="fa-solid fa-arrow-left"></i></span>
                <span class="title-name">Log in With Quantum</span>
            </div>
            <div class="row1">
                <label class="container">
                    <div class="radio-btn">
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark "></span>
                    </div>
                    <span class="radio-text " style="width: 40%;">District</span>
                </label>
                <label class="container">
                    <div class="radio-btn">
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark  "></span>
                    </div>
                    <span class="radio-text" style="width: 100%;">Independent school</span>
                </label>
            </div>
            <div class="row2">
                <label for="state">State</label>

                <select name="state" id="state" class="state">
                  <option value="Gujrat">Gujrat</option>
                 
                </select>
            </div>
            <div class="row3">
                <label for="district">District</label>

                <select name="district" id="district" class="district">
                  <option value="Surat">Surat</option>
                 
                </select>
            </div>
            <div class="row4">
                <input type="text" placeholder="Username/Email ID*">
            <a href="">forget username?</a>
            </div>
            <div class="row5">
                <div>
                <input type="text" placeholder="Password*">
                <span><i class="fa-solid fa-eye"></i></span>
                </div>
                <a href="">forget password?</a>
            </div>
            <div class="row6">
                <label class="container-check">
                    <div class="check-btn">
                        <input type="checkbox" checked="checked" name="checkbox">
                        <span class="checkmarknew "></span>
                    </div>
                    <span class="check-text " >Remember Me</span>
                </label>
            </div>
            <div class="row7">
                <button>Log In</button>
            </div>
        </div>
    </div>
</div>




